[%# vim: set ft=tt2html: %]
[% WRAPPER base.tt2 %]

<div class='greeting-box'>
    <div class='greeting'>
        <p>Nice to meet you!<br>
        I am Katie.</p>
        <p>I will tell you where to go to enjoy the Museumnacht!</p>
    </div>
</div>

<img src='/static/images/bubble.png' style='margin-top: 30px;'>
<img src='/static/images/katie.png'>
[% END %]

[% BLOCK footer %]
<nav class='buttons'>
    <a class='btn btn-primary' href='/routes'>Let's go!</a>
</nav>
[% END %]
